.sider  
    .inner-menu 
        ul 
            li 
                a(href="/admin") Tổng quan 
            li 
                a(href="/admin/products") Trang sản phẩm  
            li 
                a(href="/admin/trash") Thùng rác 